@media (max-width: 1200px) {
  .logo-home {
    margin-left: 40px;
  }
  .menubtns {
    transition: all ease 0.3s;
    margin-right: 40px;
  }
  .namesection {
    margin-left: 30px;
    width: 100%;
    max-width: 200px;
    flex: 1;
    margin-top: -50px;
  }
  .namesection h1 {
    width: 500px;
  }
  .namesection p {
    max-width: 200px;
    height: 200px;
  }
  .getstarted {
    font-size: 28px;
    width: 300px;
  }
  .animationsec {
    justify-self: flex-end;
    max-width: 200px;
    margin-left: 30%;
  }
  .cards-stack {
    width: 300px;
    margin-right: 0px;
    perspective: 1700px;
  }
  .card {
    font-size: 12px;
    width: 240px;
    height: 360px;
  }
  .icon {
    padding-top: 40px;
  }
  .icon img {
    width: 70px;
    height: 70px;
  }
  .card1 {
    transform: translateX(-135px) rotateY(-35deg) translateZ(80px) scale(0.7);
  }
  .card2 {
    transform: translateZ(250px) scale(0.9);
  }
  .card3 {
    transform: translateX(145px) rotateY(35deg) translateZ(60px) scale(0.7);
  }
}

@media (max-width: 800px) {
  .menubtns{
    gap: 10px;
  }
  .getstarted {
    width: 250px;
  }
  .namesection {
    margin-top: 10px;
  }
  .namesection p {
    max-width: 280px;
  }
  .namesection h1 {
    font-size: 40px;
  }
  .animationsec {
    margin-left: 20%;
  }
  .card1 {
    border: 1px solid wheat;
    transform: translateX(-50px) rotateY(-35deg) translateZ(80px) scale(0.7);
    transition: all ease 0.3s;
  }
  .card1:hover {
    transform: translateX(-135px) rotateY(-35deg) translateZ(80px) scale(0.7);
  }
  .card2 {
    transition: all ease 0.4s;
    border: 1px solid wheat;
    transform: translateZ(250px) scale(0.9);
  }
  .card2 h1 {
    font-size: 30px;
  }
  .card2:hover {
    transform: translateX(-90px) translateZ(250px) scale(0.9);
  }
  .card3 {
    font-size: smaller;
    transition: all ease 0.3s;
    border: 1px solid wheat;
    transform: translateX(55px) rotateY(35deg) translateZ(60px) scale(0.7);
  }
}

@media (max-width: 600px) {
  .logo-home{
    margin-left: 20px;
    font-size: 14px;
  }
  .menubtns{
    gap: 0px;
    margin-right: 5px;
  }
  .menubtns h4{
    display: none;
  }
  .namesection {
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0px 150px 0px;
    margin-left: 0px;
    margin-top: 40px;
    width: 100%;
    min-width: 96vw;
  }
  .namesection h1 {
    width: 300px;
    font-size: xx-large;
    align-self: center;
  }
  .getstarted {
    align-self: flex-end;
    justify-self: center;
    width: 95%;
    border-radius: 50px;
    font-weight: 700;
    gap: 50px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
  }

  .namesection p {
    flex: 1;
    opacity: 0;
  }
  .animationsec {
    position: absolute;
    top: 135px;
    bottom: 20vw;
    overflow: hidden;
    min-width: 100vw;
    margin-left: 0px;
    margin-top: 0px;
    height: 60%;
    padding:0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cards-stack {
    overflow-x: auto;
    height:100%;
    width: 90%;
    border: 3px solid #276d7f69;
    border-radius: 20px;
    perspective: 0px;
    transform-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
  }
  .card {
    position: relative;
    flex: 1;
    margin: 0px 0px 0px 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    height: 100%;
  }
  .space{
    min-width: 500px;
    min-height: 200px;
  }
 
  .space h1{
      width: 350px;
  }
  .cards-stack::-webkit-scrollbar{
    display: none;
  }
  .card1 {
    min-width: 250px;
    transition: all ease 0.3s;
    transform: translateX(0px) rotateY(0deg) translateZ(0px) scale(0.9);
  }
  .card1 h1{
    font-size: 40px;
    
  }
  .card1:hover {
    width: 400px;
    transition: all ease 0.3s;
    transform: translateX(0px) rotateY(0deg) translateZ(0px) scale(0.9);
  }
  .card2 {
    min-width: 250px;
    transition: all ease 0.3s;
    transform: translateZ(0px) scale(0.9);
  }
   .card2 h1{
    font-size: 30px;
    
  }
  .card2:hover {
    transition: all ease 0.3s;
    transform: translateZ(0px) scale(0.9);
  }
  .card3 {
    min-width: 250px;
    transition: all ease 0.3s;
    transform: translateX(0px) rotateY(0deg) translateZ(0px) scale(0.9);
  }
   .card3 h1{
    font-size: 30px;
    
  }
  .card3:hover {
    transition: all ease 0.3s;
    transform: translateX(0px) rotateY(0deg) translateZ(0px) scale(0.9);
  }
  .icon{
    padding-top: 30px;
  }
  .first-card{
    font-size: 0px;
}
}
