@media (max-width: 1200px) {
  .logo-home {
    margin-left: 40px;
  }
  .menubtns {
    transition: all ease 0.3s;
    margin-right: 40px;
  }
  .namesection {
    margin-left: 30px;
    width: 100%;
    max-width: 200px;
    flex: 1;
    margin-top: -50px;
  }
  .namesection h1 {
    width: 500px;
  }
  .namesection p {
    max-width: 200px;
    height: 200px;
  }
  .getstarted {
    font-size: 28px;
    width: 300px;
  }
  .animationsec {
    justify-self: flex-end;
    max-width: 200px;
    margin-left: 30%;
  }
  .cards-stack {
    width: 300px;
    margin-right: 0px;
    perspective: 1700px;
  }
  .card {
    font-size: 12px;
    width: 240px;
    height: 360px;
  }
  .icon {
    padding-top: 40px;
  }
  .icon img {
    width: 70px;
    height: 70px;
  }
  .card1 {
    transform: translateX(-135px) rotateY(-35deg) translateZ(80px) scale(0.7);
  }
  .card2 {
    transform: translateZ(250px) scale(0.9);
  }
  .card3 {
    transform: translateX(145px) rotateY(35deg) translateZ(60px) scale(0.7);
  }
}

@media (max-width: 800px) {
  .menubtns{
    gap: 10px;
  }
  .getstarted {
    width: 250px;
  }
  .namesection {
    margin-top: 10px;
  }
  .namesection p {
    max-width: 280px;
  }
  .namesection h1 {
    font-size: 40px;
  }
  .animationsec {
    margin-left: 20%;
  }
  .card1 {
    border: 1px solid wheat;
    transform: translateX(-50px) rotateY(-35deg) translateZ(80px) scale(0.7);
    transition: all ease 0.3s;
  }
  .card1:hover {
    transform: translateX(-135px) rotateY(-35deg) translateZ(80px) scale(0.7);
  }
  .card2 {
    transition: all ease 0.4s;
    border: 1px solid wheat;
    transform: translateZ(250px) scale(0.9);
  }
  .card2 h1 {
    font-size: 30px;
  }
  .card2:hover {
    transform: translateX(-90px) translateZ(250px) scale(0.9);
  }
  .card3 {
    font-size: smaller;
    transition: all ease 0.3s;
    border: 1px solid wheat;
    transform: translateX(55px) rotateY(35deg) translateZ(60px) scale(0.7);
  }
}

@media (max-width: 600px) {
  .logo-home{
    margin-left: 20px;
    font-size: 14px;
  }
  .menubtns{
    gap: 0px;
    margin-right: 5px;
  }
  .menubtns h4{
    display: none;
  }
  .namesection {
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0px 150px 0px;
    margin-left: 0px;
    margin-top: 40px;
    width: 100%;
    min-width: 96vw;
  }
  .namesection h1 {
    position: absolute;
    top: 50px;

    width: auto;
    margin-top: 45px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: xx-large;
    align-self: center;
    justify-self: center;
  }
  .getstarted {
    position: absolute;
    bottom: 20px;
    
    width: 90%;
    border-radius: 50px;
    font-weight: 700;
    gap: 50px;
    color: #FFFFFF;
  }



footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
}
